<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="SassHandler Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>